.directory
.stow-local-ignore

# Micro
micro/history
micro/backups

# Matugen Configs
colors.conf
colors.rasi
colors.json

# Kando
.config/kando/session
.config/kando/extensions
SingletonLock
SingletonSocket
SingletonCookie
